<h1 *ngIf = "(authservice.user | async)?.uid">Logged in successfully!</h1>
<h1 *ngIf = "!(authservice.user | async)?.uid">Welcome. Please Log In to Continue</h1>
<div *ngIf="showErrorMessage">
    <h1>Invalid username and password Please try again</h1>
  </div>